.header {
    display: flex;
    height: 8vh;
    background-color: rgb(68, 68, 68);
    border-bottom: solid 1px black;
    &-logo {
        width: 20%;
    }
    &-login {
        width: 80%;
        line-height: 8vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
