.header {
    display: flex;
    height: 8vh;
    background-color: rgb(68, 68, 68);
    &-logo {
        width: 20%;
    }
    &-login {
        width: 80%;
        line-height: 8vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

.header-login-signupbtn,
.header-login-loginbtn {
    vertical-align: middle;
}
