.homepage {
}

.body {
    height: auto;
    background-color: rgb(165, 161, 161);
    &-search {
        display: flex;
        &-input {
            width: 80%;
            margin: auto;
        }
    }
}
button {
    margin: 0.5em;
}

.ici {
    background-color: green;
}
